<h1>List: <%= @name %></h1>

<h3>Add New Task</h3>
<form action='/posted_task/<%= @id %>' method='post'>
  <label for='description'>Add this task:</label>
  <input id='description' name='description' type='text' placeholder='Swim with sharks'>
  <br />
  <label for='due_date'>Add a due date for this task:</label>
  <input id='due_date' name='due_date' type='text' placeholder='YYYY-MM-DD'>
  <br />
  <button type='submit' class='btn btn-primary'>Add task</button>
</form>
<br />


<h2><%= @name %></h2>
<ul>
  <% @all_tasks_in_list.each() do |task| %>
    <li><%= task.description() %>, Due: <%= task.due_date() %></li>
  <% end %>
</ul>
<br />
